.ufo50 {
    font-size: 80%;
    text-shadow: black 2px 2px;
}

.ufo50small {
    font-size: 60%;
    text-shadow: black 2px 2px;
}

.ufo50DoubleSideBySide {
    font-size: 45%;
    text-shadow: black 2px 2px;
}

.normalDoubleSideBySide {
    font-size: 80%;
}