.score {
    font-size: 44px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    height: 62px;
    width: 62px;

    display: flex;
    align-items: center;
    justify-content: center;
}