.tag {
    position: absolute;
    bottom: 8px;
    right: 8px;

    border-radius: 4px;
    border: 2px solid white;

    height: 20px;
    width: 24px;
    background-color: #2E2E2E;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.tagPosition {
    position: absolute;
    bottom: 8px;
    right: 8px;

    background-color: white;
    border-radius: 50%;
}

.sideBySideTag {
    font-size: 44px;
    font-weight: bold;
    width: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponentClaimed {
    opacity: 50%;
}

.icon {
    width: 62px;
    height: 62px;
}

.spritesIcon {
    image-rendering: pixelated;
}

.smallCheck {
    width: 18px;
    height: 18px;
    image-rendering: pixelated;
}

.bigCheck {
    width: 29px;
    height: 29px;
    image-rendering: pixelated;
}

.grayscale {
    filter: grayscale(1);
}