.item {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    padding: 8px;
    box-sizing: border-box;
    position: relative;
}

.tag {
    position: absolute;
    bottom: 8px;
    right: 8px;

    border-radius: 4px;
    border: 2px solid white;

    height: 20px;
    width: 24px;
    background-color: #2E2E2E;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.tagPosition {
    position: absolute;
    bottom: 8px;
    right: 8px;

    background-color: white;
    border-radius: 50%;
}

.score {
    font-size: 44px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spritesIcon {
    image-rendering: pixelated;
}

.grayscale {
    filter: grayscale(1);
}

.blankplayer {
    background-color: #c8c8c8;
}

.greenplayer {
    background-color: #62c462;
}

.redplayer {
    background-color: #ee5f5b;
}

.orangeplayer {
    background-color: #f89406;
}

.blueplayer {
    background-color: #5bc0de;
}

.purpleplayer {
    background-color: #822dbf;
}

.navyplayer {
    background-color: #0d48b5;
}

.tealplayer {
    background-color: #419695;
}

.pinkplayer {
    background-color: #de799c;
}

.brownplayer {
    background-color: #ab5c23;
}

.yellowplayer {
    background-color: #c1ba0b;
}