.tag {
    position: absolute;
    bottom: 8px;
    right: 8px;

    border-radius: 4px;
    border: 2px solid white;

    height: 20px;
    width: 24px;
    background-color: #2E2E2E;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.tagPosition {
    position: absolute;
    bottom: 8px;
    right: 8px;

    background-color: white;
    border-radius: 50%;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spritesIcon {
    image-rendering: pixelated;
}

.grayscale {
    filter: grayscale(1);
}