.container {
  position: relative;
  width: 60px;
  height: 68px;
  flex-basis: 0;
}

.tag {
  position: absolute;
  bottom: 4px;

  border-radius: 4px;
  border: 2px solid white;

  background-color: #2E2E2E;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;

  line-height: 1.1em;

  padding-left: 2px;
  padding-right: 2px;

  left: 0;
  right: 0;
}

.gameIcon {
  width: 60px;
  height: 68px;
  image-rendering: pixelated;
}