.container {
  width: 100%;
  height: 100%;
}

.tag {
    position: absolute;
    bottom: 8px;
    right: 8px;

    border-radius: 4px;
    border: 2px solid white;

    height: 20px;
    width: 60px;
    background-color: #2E2E2E;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
    font-variant-numeric: "tabular-nums",
}

.gameIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}