.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border: 1px solid rgb(66, 66, 66);
    box-sizing: border-box;
    height: 475px;
    width: 80px;
    background-color: black;
}